* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to bottom right, #0D142E, #653E8B);
	background-size: 400% 400%;
	animation: animatedGradient 16s ease infinite;
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
	outline: none;
}

.top-nav {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 80px;
	background: linear-gradient( rgba(17, 27, 61, 0.9), rgba(44, 16, 70, 0.7));
}

#yotta-logo {
	width: 14rem;
	animation: pulseLogo 8s infinite;
	user-select: none;
}

#particles {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.screen {
	width: 80%;
	height: 80%;
	margin-top: 60px;
	background: white;
	border-radius: 100px;
}

.open-sans {
	font-family: "Open Sans", sans-serif;
}

/* .social-icons, .social-icons a {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 1rem;
	transition: transform .25s;
} */

/* .social-icons a:hover {
	transform: scale(1.2);
} */

/* .fa-instagram, .fa-github {
	color: white;
} */

@keyframes pulseLogo {
	0% {transform: scale(0.8)}
	50% {transform: scale(0.9)}
	100% {transform: scale(0.8)}
}

@keyframes animatedGradient {
	0%{background-position:0% 15%}
	50%{background-position:100% 86%}
	100%{background-position:0% 15%}
}