.hamburguer-icon
	display none

	.hamburguer-line 
		width 32px
		margin 6px
		border 2px solid white
		transition all 0.325s ease
		border-radius 12px
	
	&.opened 
		padding 14px 1px

		.hamburguer-line 
			margin -3.5px
		
		.line1 
			transform rotate(45deg)
		
		.line2 
			opacity 0
		
		.line3 
			transform rotate(-45deg)

#expandable-menu
	display none
	flex-direction column
	position fixed
	width 100%
	height calc(100% - 98.66px)
	bottom 0
	color white
	touch-action none
	z-index 1

	.expandable-menu-blur
		position absolute
		width 100%
		height 100%
		background-color rgba(0, 0, 0, 0.5)
		backdrop-filter blur(5px)
		z-index -1

	.expandable-menu-elements
		padding 20px
		font-size 28px
		font-family "Oswald"

		.expandable-menu-element
			position relative
			padding 6px 0 9px
			background-color rgba(255, 255, 255, 0.3)
			backdrop-filter blur(10px)
			transition background-color 0.325s
			border-radius 10px

			&:not(:last-child)
				margin-bottom 8px

			&.active-menu-element
				background-color rgba(255, 255, 255, 0.3)

				&:after
					content ""
					position absolute
					left 4px
					width calc(100% - 8px)
					height 3px
					bottom 0
					background linear-gradient(to right, #f05b80, #6b4391, #49add8, #fc646c);
					background-size 400% auto
					animation animatedSliderGradient 5s infinite
					border-bottom-left-radius 8px
					border-bottom-right-radius 8px

	.expandable-menu-social-icons
		display none
		padding 20px
		margin-top auto
		justify-content center

		a
			margin 0 12px

.social-icons, .social-icons a
	display flex
	justify-content space-between
	flex-direction row
	margin 0 12px
	
.social-icons
	color #fff

	a:hover
		background linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%)
		-webkit-background-clip text
		-webkit-text-fill-color transparent
		animation socialIconHover 1s

.shaped-btn
	padding 12px 24px
	border-radius 18px 0 18px 0
	margin 8px
	border 3px solid white
	font-weight bold
	background-color transparent
	color white
	flex-grow 1
	transition border-radius 0.5s, box-shadow 0.5s, transform 0.5s
	//animation neonEffect 6s infinite
	font-size 20px
	outline none
	box-shadow 1px 1px 4px white

	&:hover
		border-radius 0 18px 0 18px
		box-shadow 1px 1px 12px white
		transform scale(1.1)

	&:active
		transform scale(1)

/* The posts on the blog section */
.post-container
	padding 12px 0

.post-divider
	height 3px
	width 100%
	background-image linear-gradient(to right, transparent, rgba(255, 255, 255, 0.8), transparent)

.wrapper 
	display flex
	flex-flow row wrap
	justify-content center

	.card 
		width 300px
		height 340px
		margin 0.5em
		perspective 1500px

		.content 
			position relative
			width 100%
			height 100%
			transform-style preserve-3d
			transition transform 0.8s cubic-bezier(0.75, 0, 0.85, 1)

	.more 
		display none

		&:checked ~ .content 
			transform rotateY(180deg)

	.front, .back 
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		backface-visibility hidden
		transform-style preserve-3d
		border-radius 6px

		.inner 
			height 100%
			display grid
			padding 1.5em
			transform translateZ(80px) scale(0.94)

	.front 
		// add a background image here
		background-color #fff
		background-size cover
		background-position center center

		&:after 
			content ''
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			display block
			border-radius 6px
			backface-visibility hidden
			background linear-gradient(40deg, rgba(67, 138, 243, 0.7), rgba(255, 242, 166, 0.7))

		.inner 
			grid-template-rows 5fr 1fr 1fr 2fr 1fr
			justify-items center

		.project-name
			grid-row 2
			margin-bottom 0.3em
			text-transform uppercase
			letter-spacing 3px
			color white
			font-family "Press Start 2P"
			word-break break-all
			text-shadow 0 0 6px rgba(0, 0, 0, 0.1)

		.project-short-description
			grid-row 3
			text-align center
			color white
			margin 0

		.rating
			grid-row 3
			color rgba(255, 255, 255, 0.8)
			font-size 14px
			display flex
			flex-flow row nowrap

			i 
				margin 0 1px

	.back
		transform rotateY(180deg)
		background-color #fff
		border 2px solid rgb(240, 240, 240)

		.inner
			display flex
			flex-direction column
			//grid-template-rows 1fr 2fr 1fr 2fr 14fr 1fr 1fr
			//grid-template-columns repeat(4, auto)
			//grid-column-gap 0.8em

			.repo-data
				display flex
				justify-content space-between
				margin-bottom 18px

			.repo-info
				display flex
				margin-bottom 12px
				justify-content center

		.info
			position relative
			display flex
			align-items center
			color accent-color
			grid-row 3

			&:not(first-of-type)before 
				content ''
				position absolute
				left -0.9em
				height 18px
				width 1px
				background-color #ccc

			span 
				font-size 2em
				font-weight 700

			i 
				&:before 
					background linear-gradient(40deg, accent-color, rgb(67, 138, 243))
					-webkit-text-fill-color transparent
					-webkit-background-clip text

				font-size 1.2em

			.icon 
				margin-left 0.4em

				span 
					display block
					margin-top -0.25em
					font-size 0.8em
					font-weight 600
					white-space nowrap

		.description 
			grid-row 5
			grid-column 1 / -1
			font-size 0.86em
			border-radius 5px
			font-weight 600
			line-height 1.4em
			overflow auto
			color accent-color
			padding-right 10px
			margin-bottom 18px
			text-align left

		.location, .price 
			font-weight 600
			color accent-color
			grid-row 1
			font-size 0.86em

		.location 
			grid-column 1 / 3
			justify-self left

		.price 
			grid-column 3 / -1
			justify-self right
			text-decoration none

		.button 
			grid-column 1 / -1
			justify-self center

	.button 
		grid-row -1
		text-transform uppercase
		letter-spacing 1px
		font-weight 600
		cursor pointer
		display block
		padding 0 1.5em
		height 3em
		line-height 2.9em
		min-width 3em
		background-color transparent
		border solid 2px #fff
		color #fff
		border-radius 4px
		text-align center
		left 50%
		backface-visibility hidden
		transition 0.3s ease-in-out
		text-shadow 0 0 6px rgba(0, 0, 0, 0.3)

		&:hover 
			background-color #fff
			box-shadow 0 0 50px rgba(0, 0, 0, 0.5)
			text-shadow none
			color accent-color

		&.return 
			line-height 3em
			color accent-color
			border-color accent-color
			text-shadow none
			align-self center
			margin-top auto

			&:hover 
				background-color accent-color
				color #fff
				box-shadow none