@import "_components"

@font-face 
    font-family "Hemondalisa"
    src url("../fonts/Hemondalisa.woff2") format("woff2")
    font-weight normal
    font-style normal

@font-face 
    font-family "SunsetBoulevard"
    src url("../fonts/SunsetBoulevard.woff2") format("woff2")
    font-weight normal
    font-style normal

*
	box-sizing border-box

html, body
	overflow-x hidden

body
	display flex
	flex-direction column
	height 100%
	margin 0
	text-align center
	background-image linear-gradient(to bottom right, #0D142E, #653E8B)
	color white
	background-size 400% 400%
	//animation animatedGradient 16s ease infinite

	//&::-webkit-scrollbar
		//width 0 !important

	a
		color #fff
		text-decoration none
		outline none

	#particles
		position fixed
		width 100%
		height 100%
		z-index -1

	.container-header
		position fixed
		width 100%
		display flex
		justify-content space-between
		align-items center
		padding 16px
		transition background-color 0.325s
		z-index 2

		&.blurred-container-header
			background-color rgba(0, 0, 0, 0.5)
			backdrop-filter blur(10px)

		#sliding-tabs-container
			display flex
			flex-direction column

			#tabs-container
				display flex
			
				.tab
					position relative
					padding 6px 18px
					text-transform uppercase
					font-weight bold
					font-size 24px
					font-family "Oswald"
					user-select none

					&:not(:last-child):after
						content ""
						position absolute
						margin-left 16px
						height calc(100% - 12px)
						width 3px
						background-image linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8), transparent);

			#tabs-slider
				margin-top 6px
				width 100%
				height 4px
				padding 0 18px
				
				.slider
					background linear-gradient(to right, #f05b80, #6b4391, #49add8, #fc646c);
					background-size 400% auto
					width calc(33% - 33px)
					height 100%
					animation animatedSliderGradient 5s infinite
					border-radius 28px
					transition margin 0.5s, width 0.5s

		#yotta-logo
			width 10rem
			animation pulseLogo 3s infinite
			user-select none
	
	.container-body
		display flex
		width 300%
		margin-top 98.66px
		align-items flex-start
		overflow hidden
		transition transform 0.5s

		.tab-content
			flex-grow 1
			width 100%
			min-height calc(100vh - 184.66px)

			&#about-tab, &#blog-tab
				display flex
				flex-direction column
				justify-content center
				align-items center

				&#blog-tab
					.blog-placeholder-container
						font-family "Open Sans"

						.typewriter-icon
							width 256px
							filter invert(100%) drop-shadow(1px 1px 30px black)
							margin-bottom 12px
							user-select none

						.blog-placeholder-headline, .blog-placeholder-subtitle
							margin 3px

				.neon-text-container
					text-transform uppercase
					text-shadow 0 0 50px purple
					user-select none
					z-index -1

					.neon-text-paragraph
						margin 8px 0
						transform translate3d(0, 0, 0)
						&:nth-child(1)
							font-family "Baloo Bhai"
							font-size 36px
							line-height 36px

						&:nth-child(2)
							font-family "Hemondalisa"
							font-size 48px
							line-height 48px

						&:nth-child(3)
							font-family "SunsetBoulevard"
							font-size 56px
							line-height 56px

// Keyframes
@keyframes neonEffect
	0%
		box-shadow 1px 1px 4px white

	25%
		box-shadow 1px 1px 6px white
	
	50%
		box-shadow 1px 1px 8px white

	75%
		box-shadow 1px 1px 6px white

	100%
		box-shadow 1px 1px 4px white

@keyframes socialIconHover
	0%
		transform scale(1)

	25%
		transform scale(1.2)

	50%
		transform scale(1)

	75%
		transform scale(1.1)

	100%
		transform scale(1)

@keyframes animatedGradient
	0%
		background-position 0% 15%
	50%
		background-position 100% 86%
	100%
		background-position 0% 15%

@keyframes animatedSliderGradient
	0%
		background-position 0% 0%
	
	25%
		background-position 50% 0%
	
	50%
		background-position 100% 0%
	
	75%
		background-position 50% 0%
	
	100%
		background-position 0% 0%

@media screen and (max-width: 767px)
	body
		.container-header
			justify-content start

			#yotta-logo
				margin-right auto

			#sliding-tabs-container
				display none

		.hamburguer-icon
			display block

@media screen and (max-width: 413px)
	body
		.container-header
			.social-icons
				display none