accent-color = #355cc9
@import "_components"

@font-face 
	font-family "Hemondalisa"
	src url("../fonts/Hemondalisa.woff2") format("woff2")
	font-weight normal
	font-style normal

@font-face 
	font-family "SunsetBoulevard"
	src url("../fonts/SunsetBoulevard.woff2") format("woff2")
	font-weight normal
	font-style normal

*
	box-sizing border-box

html, body
	height 100%
	overflow-x hidden

body
	display flex
	flex-direction column
	margin 0
	background-image linear-gradient(to bottom right, #0D142E, #653E8B)
	color white
	font-family "Open Sans"
	//background-size 400% 400%
	//animation animatedGradient 16s ease infinite

	::-webkit-scrollbar
		width 5px

	::-webkit-scrollbar-track
		background #f1f1f1

	::-webkit-scrollbar-thumb
		background lighten(accent-color, 20%)

	::-webkit-scrollbar-thumbhover
		background accent-color

	a
		color #fff
		text-decoration none
		outline none

	#particles
		position fixed
		width 100%
		height 100%
		z-index -1

	.container-header
		position fixed
		width 100%
		display flex
		justify-content space-between
		align-items center
		padding 16px
		transition background-color 0.325s
		z-index 2

		&.blurred-container-header
			background-color rgba(0, 0, 0, 0.5)
			backdrop-filter blur(10px)

		#sliding-tabs-container
			display flex
			flex-direction column

			#tabs-container
				display flex
			
				.tab
					position relative
					padding 6px 18px
					text-transform uppercase
					font-weight bold
					font-size 24px
					font-family "Oswald"
					user-select none

					&:not(:last-child):after
						content ""
						position absolute
						margin-left 16px
						height calc(100% - 12px)
						width 3px
						background-image linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8), transparent);

			#tabs-slider
				margin-top 6px
				width 100%
				height 4px
				padding 0 18px
				
				.slider
					background linear-gradient(to right, #f05b80, #6b4391, #49add8, #fc646c);
					background-size 400% auto
					width calc(33% - 33px)
					height 100%
					//animation animatedSliderGradient 5s infinite
					border-radius 28px
					transition margin 0.5s, width 0.5s

		#yotta-logo
			width 10rem
			animation pulseLogo 3s infinite
			user-select none
	
	#container-body
		height calc(100% - 98.66px)
		margin-top 98.66px
		//overflow hidden

		.carousel-cell
			color white
			width 100%
			height 100%
			padding 8px
			overflow-y auto
			touch-action pan-y

			&#about-tab
				display flex
				flex-direction column
				justify-content center
				align-items center
				text-align center

			.neon-text-container
				text-transform uppercase
				text-shadow 0 0 50px purple
				user-select none
				margin-top -98.66px
				z-index -1

				.neon-text-paragraph
					margin 8px 0
					transform translate3d(0, 0, 0)
					&:nth-child(1)
						font-family "Baloo Bhai"
						font-size 36px
						line-height 36px

					&:nth-child(2)
						font-family "Hemondalisa"
						font-size 48px
						line-height 48px

					&:nth-child(3)
						font-family "SunsetBoulevard"
						font-size 56px
						line-height 56px

			&#blog-tab
				.blog-card
					background rgba(0, 0, 0, 0.3)
					padding-bottom 16px
					border 3px solid white
					border-radius 32px 8px
					margin 24px auto
					box-shadow 1px 1px 5px white
					max-width 600px
					overflow hidden
					z-index 2
					will-change transform, border-radius, box-shadow
					transform translate3d(0, 0, 0)
					backface-visibility hidden
					transition transform 0.5s, border-radius 0.7s

					&:hover
						transform scale(1.05)
						border-radius 8px 32px

					.card-header
						padding 16px 16px 0 16px
						display flex
						flex-wrap wrap
						justify-content space-between
						align-items center

						.post-title
							margin 0

						.post-url
							color lightgrey
							text-decoration none

					.card-body
						padding 0 16px

						.post-publish-date
							margin 10px 0

						.post-content
							overflow hidden
							display -webkit-box
							-webkit-line-clamp 3
							-webkit-box-orient vertical

					.card-footer
						.post-expand-btn
							color white
							border 3px solid white
							font-weight bold
							font-size 16px
							padding 12px 12px 12px 16px
							margin 12px 0 16px -3px
							border-radius 0 18px 18px 0
							justify-content center
							align-items center
							box-shadow 1px 3px 10px rgba(0, 0, 0, 0.5)
							outline none
							transition border-radius 0.5s, width 0.5s

							&:hover
								width calc(100% + 6px) !important
								border-radius 0

							.expand-btn-text
								margin-right 6px

						.post-categories
							padding 0 16px
							user-select none

							.category-chip
								background rgba(0, 0, 0, 0.7)
								padding 4px 12px
								border-radius 24px
								color white
								box-shadow 1px 1px 3px rgba(0, 0, 0, 0.5)

			&#portfolio-tab
				.repo-container
					display flex
					flex-wrap wrap
					justify-content center

@keyframes socialIconHover
	0%
		transform scale(1)

	25%
		transform scale(1.2)

	50%
		transform scale(1)

	75%
		transform scale(1.1)

	100%
		transform scale(1)

@keyframes animatedGradient
	0%
		background-position 0% 15%
	50%
		background-position 100% 86%
	100%
		background-position 0% 15%

@keyframes animatedSliderGradient
	0%
		background-position 0% 0%
	
	25%
		background-position 50% 0%
	
	50%
		background-position 100% 0%
	
	75%
		background-position 50% 0%
	
	100%
		background-position 0% 0%

@media screen and (max-width: 767px)
	body
		.container-header
			justify-content start

			#yotta-logo
				margin-right auto

			#sliding-tabs-container
				display none

		.hamburguer-icon
			display block

@media screen and (max-width: 413px)
	body
		.container-header
			.social-icons
				display none

		#expandable-menu
			.expandable-menu-social-icons
				display flex